body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: #001e6b;
}

.pokedex-header h1 {
  color: #ff002b;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 50px;
}

.search-container {
  margin: 20px 0;
}

.search-container h4 {
  color: white;
  font-size: larger;
}

.search-container input,
button {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  border: 0px;
  padding: 10px 10px;
  border-radius: 5px;
}

.search-container .button-input {
  background-color: rgb(19, 224, 0);
}

.search-container .clear-input {
  color: white;
  background-color: rgb(224, 0, 0);
}

.search-container p {
  color: white;
}

.search-container .failed-search {
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}


.item {
  border-radius: 20px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.item-found {
  grid-column: 2 / 4;
}

.hidden {
  display: none;
}

.main-info h4 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

.types {
  margin-bottom: 20px;
}

.types li {
  line-height: 30px;
  text-transform: capitalize;
  list-style-type: none;
  font-weight: 500;
}

.stats {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.stat {
  flex: 1;
}

.stat p {
  font-weight: bold;
}
.stat-icon {
  max-width: 30px;
}

@media only screen and (max-width: 1150px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-found {
    grid-column: 1 / 4;
  }
}

@media only screen and (max-width: 875px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-found {
    grid-column: 1 / 3;
  }
  .wrapper-search {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}