body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  background-color: #002b97;
}

.pokedex-header h1 {
  color: #ff2929;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 50px;
}

.search-container {
  margin: 20px 0;
}

.search-container h4 {
  color: white;
}

.search-container input , button{
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  border: 0px;
  padding: 10px 10px;
  border-radius: 5px;
}

.search-container .button-input {
  background-color: rgb(19, 224, 0);
}

.search-container .clear-input {
  color: white;
  background-color: rgb(224, 0, 0);
}

.search-container .failed-search {
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.wrapper-search{
  grid-template-columns: repeat(3, 1fr);
}

.item {
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.item-found{
  grid-column-start: 2;
}

.hidden {
  display: none;
}

.main-info h4 a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

.types {
  margin-bottom: 20px;
}

.types li {
  list-style-type: none;
}

.stats {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.stat {
  flex: 1;
}

.stat p {
  font-weight: bold;
}
.stat-icon {
  max-width: 30px;
}
