     .wrapper {
        display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: right;
        gap: 15px;
        color: rgb(172, 34, 34);
        background-color: black;
        border-radius: 50px;
    }
